In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Churn_Modelling.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
#checking Null values
df.isnull().any()

RowNumber          False
CustomerId         False
Surname            False
CreditScore        False
Geography          False
Gender             False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

as we dont have any null values

In [6]:
#lets use Label Encoding to convert all text columns into Numerical

In [7]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le=LabelEncoder()

In [11]:
cat_col=['Surname','Geography','Gender']

In [13]:
for i in cat_col:
    df[i]=le.fit_transform(df[i])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  int32
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  int32
 5   Gender           10000 non-null  int32
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int32(3), int64(9)
memory usage: 976.7 KB

Now we can see that all columns has been converted into Numerical

In [15]:
#lets check the shape
df.shape

(10000, 14)

In [16]:
#lets divid the dataset into x and y

In [17]:
x=df.iloc[:,:-1]
x.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,15634602,1115,619,0,0,42,2,0.00,1,1,1,101348.88
1,2,15647311,1177,608,2,0,41,1,83807.86,1,0,1,112542.58
2,3,15619304,2040,502,0,0,42,8,159660.80,3,1,0,113931.57
3,4,15701354,289,699,0,0,39,1,0.00,2,0,0,93826.63
4,5,15737888,1822,850,2,0,43,2,125510.82,1,1,1,79084.10

In [18]:
y=df.iloc[:,-1]
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [19]:
#lets scale down the dataset

In [20]:
from sklearn.preprocessing import MinMaxScaler

In [21]:
ms=MinMaxScaler()

In [22]:
x_scaler=ms.fit_transform(x)
x_scaler

array([[0.00000000e+00, 2.75616127e-01, 3.80416240e-01, ...,
        1.00000000e+00, 1.00000000e+00, 5.06734893e-01],
       [1.00010001e-04, 3.26454364e-01, 4.01569430e-01, ...,
        0.00000000e+00, 1.00000000e+00, 5.62708739e-01],
       [2.00020002e-04, 2.14421435e-01, 6.96008188e-01, ...,
        1.00000000e+00, 0.00000000e+00, 5.69654352e-01],
       ...,
       [9.99799980e-01, 7.53273144e-02, 5.35653361e-01, ...,
        0.00000000e+00, 1.00000000e+00, 2.10390092e-01],
       [9.99899990e-01, 4.66636532e-01, 8.00068236e-01, ...,
        1.00000000e+00, 0.00000000e+00, 4.64429053e-01],
       [1.00000000e+00, 2.50483021e-01, 9.38587513e-01, ...,
        1.00000000e+00, 0.00000000e+00, 1.90914232e-01]])

In [23]:
#lets use train test split into the dataset

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train,x_test,Y_train,y_test=train_test_split(x_scaler,y,test_size=0.3)

In [26]:
X_train.shape

(7000, 13)

In [28]:
Y_train.shape

(7000,)

# ANN - Start

In [29]:
#lets import Required libraries

In [31]:
from keras.models import Sequential
from keras.layers import Dense

In [32]:
model=Sequential()

In [33]:
model.add(Dense(20,input_shape=(13,),activation='relu'))

In [36]:
model.add(Dense(15,activation='relu'))

In [37]:
model.add(Dense(10,activation='relu'))

In [38]:
model.add(Dense(5,activation='relu'))

In [39]:
model.add(Dense(1,activation='linear'))

In [40]:
#lets check the summary

In [41]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 20)                280
_________________________________________________________________
dense_2 (Dense)              (None, 15)                315
_________________________________________________________________
dense_3 (Dense)              (None, 10)                160
_________________________________________________________________
dense_4 (Dense)              (None, 5)                 55
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 6
=================================================================
Total params: 816
Trainable params: 816
Non-trainable params: 0
_________________________________________________________________

In [42]:
#lets compaile the model

In [44]:
model.compile(loss='mse',optimizer='adam',metrics=['mae','mse'])

In [45]:
#lets check the result

In [46]:
result=model.fit(X_train,Y_train,batch_size=100,epochs=50)

Epoch 1/50
70/70 [==============================] - 2s 2ms/step - loss: 0.1736 - mae: 0.3190 - mse: 0.1736
Epoch 2/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1547 - mae: 0.3035 - mse: 0.1547
Epoch 3/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1430 - mae: 0.2831 - mse: 0.1430
Epoch 4/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1454 - mae: 0.2923 - mse: 0.1454
Epoch 5/50
70/70 [==============================] - 0s 968us/step - loss: 0.1413 - mae: 0.2853 - mse: 0.1413
Epoch 6/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1371 - mae: 0.2774 - mse: 0.1371
Epoch 7/50
70/70 [==============================] - 0s 983us/step - loss: 0.1349 - mae: 0.2788 - mse: 0.1349
Epoch 8/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1332 - mae: 0.2707 - mse: 0.1332
Epoch 9/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1330 - mae: 0.2733 - mse: 0.1330
Epoch 10/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1365 - mae: 0.2728 - mse: 0.1365
Epoch 11/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1299 - mae: 0.2646 - mse: 0.1299
Epoch 12/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1287 - mae: 0.2668 - mse: 0.1287
Epoch 13/50
70/70 [==============================] - 0s 954us/step - loss: 0.1244 - mae: 0.2563 - mse: 0.1244
Epoch 14/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1242 - mae: 0.2533 - mse: 0.1242
Epoch 15/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1217 - mae: 0.2545 - mse: 0.1217
Epoch 16/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1214 - mae: 0.2478 - mse: 0.1214
Epoch 17/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1143 - mae: 0.2366 - mse: 0.1143
Epoch 18/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1141 - mae: 0.2378 - mse: 0.1141
Epoch 19/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1125 - mae: 0.2320 - mse: 0.1125
Epoch 20/50
70/70 [==============================] - 0s 882us/step - loss: 0.1126 - mae: 0.2350 - mse: 0.1126
Epoch 21/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1135 - mae: 0.2404 - mse: 0.1135
Epoch 22/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1124 - mae: 0.2347 - mse: 0.1124
Epoch 23/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1064 - mae: 0.2192 - mse: 0.1064
Epoch 24/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1077 - mae: 0.2270 - mse: 0.1077
Epoch 25/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1088 - mae: 0.2261 - mse: 0.1088
Epoch 26/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1081 - mae: 0.2281 - mse: 0.1081
Epoch 27/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1043 - mae: 0.2193 - mse: 0.1043
Epoch 28/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1099 - mae: 0.2268 - mse: 0.1099
Epoch 29/50
70/70 [==============================] - 0s 918us/step - loss: 0.1138 - mae: 0.2319 - mse: 0.1138
Epoch 30/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1031 - mae: 0.2175 - mse: 0.1031
Epoch 31/50
70/70 [==============================] - 0s 939us/step - loss: 0.1063 - mae: 0.2205 - mse: 0.1063
Epoch 32/50
70/70 [==============================] - 0s 975us/step - loss: 0.1087 - mae: 0.2255 - mse: 0.1087
Epoch 33/50
70/70 [==============================] - 0s 980us/step - loss: 0.1031 - mae: 0.2180 - mse: 0.1031
Epoch 34/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1042 - mae: 0.2183 - mse: 0.1042
Epoch 35/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1092 - mae: 0.2281 - mse: 0.1092
Epoch 36/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1073 - mae: 0.2175 - mse: 0.1073
Epoch 37/50
70/70 [==============================] - 0s 940us/step - loss: 0.1039 - mae: 0.2157 - mse: 0.1039
Epoch 38/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1075 - mae: 0.2203 - mse: 0.1075
Epoch 39/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1059 - mae: 0.2171 - mse: 0.1059
Epoch 40/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1066 - mae: 0.2210 - mse: 0.1066
Epoch 41/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1039 - mae: 0.2150 - mse: 0.1039
Epoch 42/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1035 - mae: 0.2158 - mse: 0.1035
Epoch 43/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1056 - mae: 0.2179 - mse: 0.1056
Epoch 44/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1036 - mae: 0.2142 - mse: 0.1036
Epoch 45/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1018 - mae: 0.2076 - mse: 0.1018
Epoch 46/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1064 - mae: 0.2190 - mse: 0.1064
Epoch 47/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1059 - mae: 0.2187 - mse: 0.1059
Epoch 48/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1064 - mae: 0.2164 - mse: 0.1064
Epoch 49/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1052 - mae: 0.2151 - mse: 0.1052
Epoch 50/50
70/70 [==============================] - 0s 1ms/step - loss: 0.1030 - mae: 0.2139 - mse: 0.1030

In [47]:
#evaluating the Model

In [48]:
model.evaluate(x_test,y_test)

94/94 [==============================] - 0s 1ms/step - loss: 0.1134 - mae: 0.2209 - mse: 0.1134

[0.11338360607624054, 0.22087521851062775, 0.11338360607624054]