In [2]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston

In [15]:
boston=load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [16]:
boston.data

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

In [17]:
boston.target

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [19]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [20]:
boston.DESCR

".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n"

In [21]:
#lets convet all into DataFrame

In [24]:
bos=pd.DataFrame(boston.data,columns=boston.feature_names)
bos

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [25]:
bos.shape

(506, 13)

In [29]:
#adding target columns into it
bos['target']=boston.target

In [30]:
bos.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'target'],
      dtype='object')

In [31]:
#lets check the shape
bos.shape

(506, 14)

In [32]:
#lets check the null values
bos.isnull().any()

CRIM       False
ZN         False
INDUS      False
CHAS       False
NOX        False
RM         False
AGE        False
DIS        False
RAD        False
TAX        False
PTRATIO    False
B          False
LSTAT      False
target     False
dtype: bool

As we can see that there is no null values in the dataset

In [33]:
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

here we can see that there is no categorical caumns in the dataset

In [34]:
#lets divid and store it into x and y variable

In [35]:
x=bos.iloc[:,:-1]
x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [36]:
y=bos.iloc[:,-1]
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: target, dtype: float64

In [37]:
#lets scale down the dataset
from sklearn.preprocessing import MinMaxScaler

In [38]:
scaler=MinMaxScaler()

In [39]:
sc=scaler.fit_transform(x)
sc

array([[0.00000000e+00, 1.80000000e-01, 6.78152493e-02, ...,
        2.87234043e-01, 1.00000000e+00, 8.96799117e-02],
       [2.35922539e-04, 0.00000000e+00, 2.42302053e-01, ...,
        5.53191489e-01, 1.00000000e+00, 2.04470199e-01],
       [2.35697744e-04, 0.00000000e+00, 2.42302053e-01, ...,
        5.53191489e-01, 9.89737254e-01, 6.34657837e-02],
       ...,
       [6.11892474e-04, 0.00000000e+00, 4.20454545e-01, ...,
        8.93617021e-01, 1.00000000e+00, 1.07891832e-01],
       [1.16072990e-03, 0.00000000e+00, 4.20454545e-01, ...,
        8.93617021e-01, 9.91300620e-01, 1.31070640e-01],
       [4.61841693e-04, 0.00000000e+00, 4.20454545e-01, ...,
        8.93617021e-01, 1.00000000e+00, 1.69701987e-01]])

In [40]:
#lets import train test split

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
X_train,x_test,Y_train,y_test=train_test_split(sc,y,test_size=0.3)

In [43]:
X_train.shape

(354, 13)

In [44]:
Y_train.shape

(354,)

In [45]:
#lets start ANN

In [46]:
from keras.models import Sequential
from keras.layers import Dense

In [47]:
#lets instatiate sequatinal
model=Sequential()

In [48]:
model.add(Dense(15,input_shape=(13,),activation='relu'))

In [49]:
model.add(Dense(10,activation='relu'))

In [50]:
model.add(Dense(5,activation='relu'))

In [51]:
model.add(Dense(1,activation='linear'))

In [52]:
#lets check the summary

In [53]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 15)                210
_________________________________________________________________
dense_1 (Dense)              (None, 10)                160
_________________________________________________________________
dense_2 (Dense)              (None, 5)                 55
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 6
=================================================================
Total params: 431
Trainable params: 431
Non-trainable params: 0
_________________________________________________________________

In [54]:
#lets compile the model

In [55]:
model.compile(loss='mse',optimizer='Adam',metrics=['mse','mae'])

In [56]:
#lets check the result

In [62]:
result=model.fit(X_train,Y_train,batch_size=150,epochs=100)

Epoch 1/100
3/3 [==============================] - 0s 1ms/step - loss: 49.6556 - mse: 49.6556 - mae: 5.0315
Epoch 2/100
3/3 [==============================] - 0s 2ms/step - loss: 49.4118 - mse: 49.4118 - mae: 5.0322
Epoch 3/100
3/3 [==============================] - 0s 3ms/step - loss: 49.2439 - mse: 49.2439 - mae: 5.0356
Epoch 4/100
3/3 [==============================] - 0s 2ms/step - loss: 49.0694 - mse: 49.0694 - mae: 5.0359
Epoch 5/100
3/3 [==============================] - 0s 3ms/step - loss: 48.9026 - mse: 48.9026 - mae: 5.0317
Epoch 6/100
3/3 [==============================] - 0s 3ms/step - loss: 48.7182 - mse: 48.7182 - mae: 5.0168
Epoch 7/100
3/3 [==============================] - 0s 3ms/step - loss: 48.5459 - mse: 48.5459 - mae: 4.9998
Epoch 8/100
3/3 [==============================] - 0s 2ms/step - loss: 48.3832 - mse: 48.3832 - mae: 4.9859
Epoch 9/100
3/3 [==============================] - 0s 3ms/step - loss: 48.2316 - mse: 48.2316 - mae: 4.9743
Epoch 10/100
3/3 [==============================] - 0s 1ms/step - loss: 48.0619 - mse: 48.0619 - mae: 4.9657
Epoch 11/100
3/3 [==============================] - 0s 2ms/step - loss: 47.9085 - mse: 47.9085 - mae: 4.9607
Epoch 12/100
3/3 [==============================] - 0s 4ms/step - loss: 47.7084 - mse: 47.7084 - mae: 4.9580
Epoch 13/100
3/3 [==============================] - 0s 3ms/step - loss: 47.5541 - mse: 47.5541 - mae: 4.9547
Epoch 14/100
3/3 [==============================] - 0s 2ms/step - loss: 47.3701 - mse: 47.3701 - mae: 4.9495
Epoch 15/100
3/3 [==============================] - 0s 3ms/step - loss: 47.2126 - mse: 47.2126 - mae: 4.9422
Epoch 16/100
3/3 [==============================] - 0s 3ms/step - loss: 47.0386 - mse: 47.0386 - mae: 4.9285
Epoch 17/100
3/3 [==============================] - 0s 2ms/step - loss: 46.8609 - mse: 46.8609 - mae: 4.9117
Epoch 18/100
3/3 [==============================] - 0s 2ms/step - loss: 46.7234 - mse: 46.7234 - mae: 4.9068
Epoch 19/100
3/3 [==============================] - 0s 3ms/step - loss: 46.5389 - mse: 46.5389 - mae: 4.8966
Epoch 20/100
3/3 [==============================] - 0s 2ms/step - loss: 46.3537 - mse: 46.3537 - mae: 4.8820
Epoch 21/100
3/3 [==============================] - 0s 2ms/step - loss: 46.1664 - mse: 46.1664 - mae: 4.8726
Epoch 22/100
3/3 [==============================] - 0s 2ms/step - loss: 45.9816 - mse: 45.9816 - mae: 4.8707
Epoch 23/100
3/3 [==============================] - 0s 2ms/step - loss: 45.8222 - mse: 45.8222 - mae: 4.8700
Epoch 24/100
3/3 [==============================] - 0s 3ms/step - loss: 45.6410 - mse: 45.6410 - mae: 4.8621
Epoch 25/100
3/3 [==============================] - 0s 2ms/step - loss: 45.4666 - mse: 45.4666 - mae: 4.8498
Epoch 26/100
3/3 [==============================] - 0s 1ms/step - loss: 45.2644 - mse: 45.2644 - mae: 4.8413
Epoch 27/100
3/3 [==============================] - 0s 1ms/step - loss: 45.0760 - mse: 45.0760 - mae: 4.8424
Epoch 28/100
3/3 [==============================] - 0s 2ms/step - loss: 44.8837 - mse: 44.8837 - mae: 4.8471
Epoch 29/100
3/3 [==============================] - 0s 3ms/step - loss: 44.6902 - mse: 44.6902 - mae: 4.8464
Epoch 30/100
3/3 [==============================] - 0s 1ms/step - loss: 44.5174 - mse: 44.5174 - mae: 4.8412
Epoch 31/100
3/3 [==============================] - 0s 2ms/step - loss: 44.2437 - mse: 44.2437 - mae: 4.8136
Epoch 32/100
3/3 [==============================] - 0s 3ms/step - loss: 43.9510 - mse: 43.9510 - mae: 4.7751
Epoch 33/100
3/3 [==============================] - 0s 1ms/step - loss: 43.7401 - mse: 43.7401 - mae: 4.7448
Epoch 34/100
3/3 [==============================] - 0s 2ms/step - loss: 43.5187 - mse: 43.5187 - mae: 4.7162
Epoch 35/100
3/3 [==============================] - 0s 2ms/step - loss: 43.2556 - mse: 43.2556 - mae: 4.6933
Epoch 36/100
3/3 [==============================] - 0s 3ms/step - loss: 42.9742 - mse: 42.9742 - mae: 4.6775
Epoch 37/100
3/3 [==============================] - 0s 3ms/step - loss: 42.6931 - mse: 42.6931 - mae: 4.6606
Epoch 38/100
3/3 [==============================] - 0s 3ms/step - loss: 42.4533 - mse: 42.4533 - mae: 4.6471
Epoch 39/100
3/3 [==============================] - 0s 3ms/step - loss: 42.2190 - mse: 42.2190 - mae: 4.6420
Epoch 40/100
3/3 [==============================] - 0s 3ms/step - loss: 42.0083 - mse: 42.0083 - mae: 4.6369
Epoch 41/100
3/3 [==============================] - 0s 3ms/step - loss: 41.7766 - mse: 41.7766 - mae: 4.6337
Epoch 42/100
3/3 [==============================] - 0s 4ms/step - loss: 41.6101 - mse: 41.6101 - mae: 4.6392
Epoch 43/100
3/3 [==============================] - 0s 4ms/step - loss: 41.3901 - mse: 41.3901 - mae: 4.6326
Epoch 44/100
3/3 [==============================] - 0s 4ms/step - loss: 41.1845 - mse: 41.1845 - mae: 4.6203
Epoch 45/100
3/3 [==============================] - 0s 3ms/step - loss: 40.9542 - mse: 40.9542 - mae: 4.5983
Epoch 46/100
3/3 [==============================] - 0s 2ms/step - loss: 40.7215 - mse: 40.7215 - mae: 4.5721
Epoch 47/100
3/3 [==============================] - 0s 2ms/step - loss: 40.4916 - mse: 40.4916 - mae: 4.5446
Epoch 48/100
3/3 [==============================] - 0s 3ms/step - loss: 40.2877 - mse: 40.2877 - mae: 4.5191
Epoch 49/100
3/3 [==============================] - 0s 3ms/step - loss: 40.1020 - mse: 40.1020 - mae: 4.4977
Epoch 50/100
3/3 [==============================] - 0s 3ms/step - loss: 39.9020 - mse: 39.9020 - mae: 4.4745
Epoch 51/100
3/3 [==============================] - 0s 3ms/step - loss: 39.7523 - mse: 39.7523 - mae: 4.4522
Epoch 52/100
3/3 [==============================] - 0s 3ms/step - loss: 39.5512 - mse: 39.5512 - mae: 4.4410
Epoch 53/100
3/3 [==============================] - 0s 2ms/step - loss: 39.3120 - mse: 39.3120 - mae: 4.4337
Epoch 54/100
3/3 [==============================] - 0s 3ms/step - loss: 39.0753 - mse: 39.0753 - mae: 4.4332
Epoch 55/100
3/3 [==============================] - 0s 4ms/step - loss: 38.8664 - mse: 38.8664 - mae: 4.4369
Epoch 56/100
3/3 [==============================] - 0s 3ms/step - loss: 38.6485 - mse: 38.6485 - mae: 4.4386
Epoch 57/100
3/3 [==============================] - 0s 3ms/step - loss: 38.4349 - mse: 38.4349 - mae: 4.4264
Epoch 58/100
3/3 [==============================] - 0s 3ms/step - loss: 38.2251 - mse: 38.2251 - mae: 4.4092
Epoch 59/100
3/3 [==============================] - 0s 4ms/step - loss: 38.0214 - mse: 38.0214 - mae: 4.3957
Epoch 60/100
3/3 [==============================] - 0s 3ms/step - loss: 37.8287 - mse: 37.8287 - mae: 4.3820
Epoch 61/100
3/3 [==============================] - 0s 3ms/step - loss: 37.6284 - mse: 37.6284 - mae: 4.3655
Epoch 62/100
3/3 [==============================] - 0s 6ms/step - loss: 37.4347 - mse: 37.4347 - mae: 4.3554
Epoch 63/100
3/3 [==============================] - 0s 6ms/step - loss: 37.2244 - mse: 37.2244 - mae: 4.3387
Epoch 64/100
3/3 [==============================] - 0s 4ms/step - loss: 37.0442 - mse: 37.0442 - mae: 4.3190
Epoch 65/100
3/3 [==============================] - 0s 3ms/step - loss: 36.8354 - mse: 36.8354 - mae: 4.3025
Epoch 66/100
3/3 [==============================] - 0s 2ms/step - loss: 36.6288 - mse: 36.6288 - mae: 4.2920
Epoch 67/100
3/3 [==============================] - 0s 3ms/step - loss: 36.4265 - mse: 36.4265 - mae: 4.2884
Epoch 68/100
3/3 [==============================] - 0s 2ms/step - loss: 36.2030 - mse: 36.2030 - mae: 4.2837
Epoch 69/100
3/3 [==============================] - 0s 3ms/step - loss: 36.0012 - mse: 36.0012 - mae: 4.2789
Epoch 70/100
3/3 [==============================] - 0s 4ms/step - loss: 35.8064 - mse: 35.8064 - mae: 4.2743
Epoch 71/100
3/3 [==============================] - 0s 3ms/step - loss: 35.6005 - mse: 35.6005 - mae: 4.2622
Epoch 72/100
3/3 [==============================] - 0s 5ms/step - loss: 35.4047 - mse: 35.4047 - mae: 4.2455
Epoch 73/100
3/3 [==============================] - 0s 3ms/step - loss: 35.1948 - mse: 35.1948 - mae: 4.2218
Epoch 74/100
3/3 [==============================] - 0s 3ms/step - loss: 35.0161 - mse: 35.0161 - mae: 4.1961
Epoch 75/100
3/3 [==============================] - 0s 3ms/step - loss: 34.8220 - mse: 34.8220 - mae: 4.1750
Epoch 76/100

3/3 [==============================] - 0s 5ms/step - loss: 34.6297 - mse: 34.6297 - mae: 4.1581
Epoch 77/100
3/3 [==============================] - 0s 3ms/step - loss: 34.4174 - mse: 34.4174 - mae: 4.1502
Epoch 78/100
3/3 [==============================] - 0s 4ms/step - loss: 34.1862 - mse: 34.1862 - mae: 4.1519
Epoch 79/100
3/3 [==============================] - 0s 3ms/step - loss: 34.0419 - mse: 34.0419 - mae: 4.1617
Epoch 80/100
3/3 [==============================] - ETA: 0s - loss: 38.2868 - mse: 38.2868 - mae: 4.265 - 0s 3ms/step - loss: 33.8650 - mse: 33.8650 - mae: 4.1598
Epoch 81/100
3/3 [==============================] - 0s 2ms/step - loss: 33.6586 - mse: 33.6586 - mae: 4.1430
Epoch 82/100
3/3 [==============================] - 0s 3ms/step - loss: 33.4467 - mse: 33.4467 - mae: 4.1158
Epoch 83/100
3/3 [==============================] - 0s 5ms/step - loss: 33.2683 - mse: 33.2683 - mae: 4.0903
Epoch 84/100
3/3 [==============================] - 0s 3ms/step - loss: 33.1458 - mse: 33.1458 - mae: 4.0703
Epoch 85/100
3/3 [==============================] - 0s 3ms/step - loss: 32.9698 - mse: 32.9698 - mae: 4.0541
Epoch 86/100
3/3 [==============================] - 0s 3ms/step - loss: 32.7674 - mse: 32.7674 - mae: 4.0443
Epoch 87/100
3/3 [==============================] - 0s 1ms/step - loss: 32.6045 - mse: 32.6045 - mae: 4.0427
Epoch 88/100
3/3 [==============================] - 0s 3ms/step - loss: 32.4232 - mse: 32.4232 - mae: 4.0469
Epoch 89/100
3/3 [==============================] - 0s 3ms/step - loss: 32.2429 - mse: 32.2429 - mae: 4.0394
Epoch 90/100
3/3 [==============================] - 0s 1ms/step - loss: 32.0930 - mse: 32.0930 - mae: 4.0254
Epoch 91/100
3/3 [==============================] - 0s 3ms/step - loss: 31.9245 - mse: 31.9245 - mae: 4.0078
Epoch 92/100
3/3 [==============================] - 0s 2ms/step - loss: 31.7610 - mse: 31.7610 - mae: 3.9918
Epoch 93/100
3/3 [==============================] - 0s 2ms/step - loss: 31.6452 - mse: 31.6452 - mae: 3.9721
Epoch 94/100
3/3 [==============================] - 0s 2ms/step - loss: 31.4939 - mse: 31.4939 - mae: 3.9544
Epoch 95/100
3/3 [==============================] - 0s 2ms/step - loss: 31.3615 - mse: 31.3615 - mae: 3.9436
Epoch 96/100
3/3 [==============================] - 0s 3ms/step - loss: 31.1993 - mse: 31.1993 - mae: 3.9326
Epoch 97/100
3/3 [==============================] - 0s 3ms/step - loss: 31.0527 - mse: 31.0527 - mae: 3.9312
Epoch 98/100
3/3 [==============================] - 0s 3ms/step - loss: 30.9270 - mse: 30.9270 - mae: 3.9385
Epoch 99/100
3/3 [==============================] - 0s 2ms/step - loss: 30.7676 - mse: 30.7676 - mae: 3.9383
Epoch 100/100
3/3 [==============================] - 0s 3ms/step - loss: 30.6539 - mse: 30.6539 - mae: 3.9381

In [63]:
#evaluating the model

In [64]:
model.evaluate(x_test,y_test)

5/5 [==============================] - 1s 2ms/step - loss: 24.8148 - mse: 24.8148 - mae: 3.6773

[24.81481170654297, 24.81481170654297, 3.6773436069488525]